<div>
     <div>
          <h6>Category</h6>
          <hr>
          <div class="custom-control custom-radio m-2" *ngFor="let category of categoires;index as i">
               <input type="radio" id="customRadio1" value="{{category._id}}" name="category" id="category{{i}}" class="custom-control-input">
               <label class="custom-control-label" for="category{{i}}" (click)="btnCategorySelected(category._id)">{{category.name}}</label>
          </div>
     </div>
     <div>
          <h6>Price</h6>
          <hr>
          <select name="min" id="" class="form-control mb-2">
               <option value="100">100</option>
          </select>
          <select name="max" class="form-control mb-2" id="">
               <option value="100">100</option>
          </select>
          <div class="mb-2">
               <button class="btn btn-block btn-light btn-sm border rounded">Filter</button>
          </div>
     </div>
</div>