<div class="container p-3 m-3 mx-auto" *ngIf='cartItems.length!=0 else noItems'>
     <h1 class="display-4">Cart</h1>
     <hr>
     <table class="table mx-auto">
          <thead>
               <tr>
                    <th>Sl_No</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let item of cartItems; index as i">
                    <td>{{i+1}}</td>
                    <td>
                         <img src="http://localhost/{{item.product.productImage}}" 
                              alt="Product Images" class="rounded-circle" height="70px">
                    </td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>₹ {{item.product.price}}</td>
                    <td>₹ {{ item.quantity * item.product.price }}</td>
               </tr>
          </tbody>
          <tfoot>
               <tr>
                    <th colspan="2"></th>
                    <th colspan="3">Total</th>
                    <th>₹ {{total}}</th>
               </tr>
          </tfoot>
     </table>
     <hr>
     <hr>
     <hr>
</div>

<ng-template #noItems>
    <div class="pt-4 mt-4">
          <div class="jumbotron bg-white container border p-4  mx-auto">
               <h1 class="display-4">Cart Is Empty</h1>
               <p class="lead">Go to Store to Add Items in Cart</p>
               <hr class="my-4">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
          </div>
    </div>
</ng-template>