<div class="card" style="width: 18rem;">
  <!-- <img src="http://localhost/{{product.productImage}}" class="card-img-top" alt="{{product.name}}" /> -->
  <div class="card-body">
    <h6 class="card-title">{{product.name}}</h6>
    <p class="card-text">
      <b>
        $ {{product.price}}
      </b>
    </p>
  </div>
  <div class="cart-footer p-0">
    <a *ngIf="!quantity else cartQuantity" class="btn-sm float-right btn-block btn btn-light" (click)="addToCart()">Add to Cart</a> 
    <ng-template #cartQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button class="btn btn-secondry btn-block" (click)="decreaseQuantity()">
            -
          </button>
        </div>
        <div class="col text-center">{{quantity}} in Cart</div>
        <div class="col-2">
          <button class="btn btn-secondry btn-block" (click)="increaseQuantity()">
            +
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
