<div class="pt-0 pr-2 pl-2">
     <hr>
     <div class="row">
          <div class="col-lg-2 border border-top-0 border-left-0">
               <app-filter></app-filter>
          </div>
          <div class="col-lg-10 mx-auto">
               <app-store></app-store>
          </div>
     </div>
</div>
