<div class="text-center mt-4">
     <form method="post" class="form-signin border rounded" (submit)="login($event)">
       <img
         class="mb-4"
         src="../../../assets/cart.png"
         alt=""
         width="72"
         height="72"
       />
   
       <!--Messages-->
       <p *ngIf="success" class="alert alert-success">{{success}}</p>
       <p *ngIf="error" class="alert alert-danger">{{error}}</p>
   
       <h1 class="h3 mb-3 font-weight-normal">Login to E-Shop</h1>
       
       <!--Email-->
       <input
         type="email"
         id="inputEmail"
         class="form-control mb-2"
         placeholder="Email address"
         name="email"
         required
         autofocus
       />
   
       <!--Password-->
       <input
         type="password"
         id="inputPassword"
         class="form-control mb-2"
         placeholder="Password"
         name="password"
         required
       />
       <button class="btn btn-lg btn-light btn-block border rounded" type="submit">
         Login
       </button>
       <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
     </form>
   </div>
   