<div class="text-center mt-4">
  <form class="form-signin border rounded" (submit)="signup($event)">
    <img
      class="mb-4"
      src="../../../assets/cart.png"
      alt=""
      width="72"
      height="72"
    />

    <!--Messages-->
    <p *ngIf="success" class="alert alert-success">{{success}}</p>
    <p *ngIf="error" class="alert alert-danger">{{error}}</p>

    <h1 class="h3 mb-3 font-weight-normal">Create your E-Shop Account</h1>
    <!--Name-->
    <label for="Name" class="sr-only">Name</label>
    <input
      type="text"
      id="name"
      class="form-control mb-2"
      placeholder="Enter Name"
      name="name"
      required
      autofocus
    />

    <!--Email-->
    <input
      type="email"
      id="inputEmail"
      class="form-control mb-2"
      placeholder="Email address"
      name="email"
      required
      autofocus
    />

    <!--Password-->
    <input
      type="password"
      id="inputPassword"
      class="form-control mb-2"
      placeholder="Password"
      name="password"
      required
    />

    <!--Phone Number-->
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="number"
      id="phone"
      class="form-control"
      name="phone"
      placeholder="Enter Phone Number"
      required
    />

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button class="btn btn-lg btn-light btn-block border rounded" type="submit">
      Create Account
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>
</div>
